*{
  box-sizing: border-box;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  color: black;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5EBDF;
  color: #6E1E23;
  padding: 20px 50px;
}
.logo{
  font-size: 50px;
}
.menuIzquierdo{
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav{
  display: flex;
  gap: 20px;
}
.nav a{
  color: #6E1E23;
  text-decoration: none;
  font-weight: bold;
}
.nav a:hover{
  color:#411214
}
.hero{
  padding: 20px;
}
.hero h1{
  font-size: 30px;
  margin-bottom: 15px;
}
.hero p{
  font-size: 20px;
  line-height: 1.6;
}
.hero-slider img{
  width:450px;
  height:450px;
  object-fit:cover;
  border-radius:15px;
}
.hero-slider button{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:22px;
}
.section{
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 35px;
 }
.cards-container{
  display: flex;
  gap: 30px;
}
.card{
  flex: 1;
  background-color: #F5EBDF;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #6E1E23;
}
.card h3{
  margin-top: 0;
}
